*
{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./tim-dennert-a9SA6Zs1L9g-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container
{
    margin-top: 10vh;
    
    
}
.info
{
    margin-left: 90vh;
    font-size: 70px;
    color: rgb(42, 42, 6);
}
a{
    color: rgb(4, 4, 72);
}

.add
{
    color: brown;
    margin-left: 80vh;
    font-size: 70px;
   
}

.small
{
    margin-left: 90vh;
}